{{define "layout-start"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{if .Title}}{{.Title}}{{else if .ID}}New conversation{{else}}Golem{{end}}</title>
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body class="stack gap-0">
<nav class="topbar">
  <a class="topbar-home py-3 px-5" href="/">Golem</a>
</nav>
<div class="container stack gap-6 grow">
{{end}}
{{define "layout-end"}}
</div>
<script src="/static/htmx-4.0.0/htmx.min.js"></script>
<script src="/static/htmx-4.0.0/hx-sse.min.js"></script>
</body>
</html>
{{end}}
