{{define "layout-start"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{if .Title}}{{.Title}}{{else if .ID}}New conversation{{else}}Golem{{end}}</title>
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body class="container stack gap-6">
{{end}}
{{define "layout-end"}}
<script src="/static/htmx-4.0.0/htmx.min.js"></script>
<script src="/static/htmx-4.0.0/hx-sse.min.js"></script>
</body>
</html>
{{end}}
