{{define "tool-call"}}
<details class="tool-call">
  <summary class="tool-summary">
    <span class="tool-badge">{{.Name}}</span>
    <span class="tool-preview">{{.Preview}}</span>
    <span class="tool-toggle" aria-hidden="true">
      <svg class="tool-icon-plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
      </svg>
      <svg class="tool-icon-minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
      </svg>
    </span>
  </summary>
  <div class="tool-body">
    <div class="tool-field">
      <div class="tool-label">Input</div>
      <pre class="tool-args">{{.PrettyArgs}}</pre>
    </div>
    <div class="tool-field">
      <div class="tool-label">Output</div>
      <pre class="tool-result">{{.Result}}</pre>
    </div>
  </div>
</details>
{{end}}
